<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css"
	
</head>
<body>
	<h1>Timesheet Form</h1>
	<form method="post" action="/timesheet" enctype="multipart/form-data">
      <label for="file-input">Select the input-employee file:</label>
      <input type="file" id="file-input" name="file-input">
      <br>
      <label for="file-input">Select the input-location file:</label>
      <input type="file" id="file-input" name="file-input">
      <br>
      
      <input type="submit" value="Execute">
	</form>
</body>
</html>




  
      
     